<%= form_with(model: volunteer) do |form| %>
  <% if volunteer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(volunteer.errors.count, "error") %> prohibited this volunteer from being saved:</h2>

      <ul>
        <% volunteer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :volunteer_id, style: "display: block" %>
    <%= form.number_field :volunteer_id %>
  </div>

  <div>
    <%= form.label :job_id, style: "display: block" %>
    <%= form.number_field :job_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
