<%= form_with(model: message) do |form| %>
  <% if message.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>
      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :job_id, style: "display: block" %>
    <%= form.text_field :job_id %>
  </div>
  <div>
    <%= form.label :sent_from_id, style: "display: block" %>
    <%= form.text_field :sent_from_id %>
  </div>
  <div>
    <%= form.label :sent_to_id, style: "display: block" %>
    <%= form.text_field :sent_to_id %>
  </div>
  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_field :content %>
  </div>
  <div>
    <%= form.label :message_viewed, style: "display: block" %>
    <%= form.text_field :message_viewed %>
  </div>
  <div>
    <%= form.label :message_timestamp, style: "display: block" %>
    <%= form.text_field :message_timestamp %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
