<div id="<%= dom_id message %>">
  <p>
    <strong>Job:</strong>
    <%= message.job_id %>
  </p>
  <p>
    <strong>Sent from:</strong>
    <%= message.sent_from_id %>
  </p>
  <p>
    <strong>Sent to:</strong>
    <%= message.sent_to_id %>
  </p>
  <p>
    <strong>Content:</strong>
    <%= message.content %>
  </p>
  <p>
    <strong>Message viewed:</strong>
    <%= message.message_viewed %>
  </p>
  <p>
    <strong>Message timestamp:</strong>
    <%= message.message_timestamp %>
  </p>
</div>
