<%= form_with(model: job) do |form| %>
  <% if job.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>
      <ul>
        <% job.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :job_title, style: "display: block" %>
    <%= form.text_field :job_title %>
  </div>
  <div>
    <%= form.label :job_description, style: "display: block" %>
    <%= form.text_field :job_description %>
  </div>
  <div>
    <%= form.label :job_type, style: "display: block" %>
    <%= form.text_field :job_type %>
  </div>
  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>
  <div>
    <%= form.label :city, style: "display: block" %>
    <%= form.text_field :city %>
  </div>
  <div>
    <%= form.label :latitude, style: "display: block" %>
    <%= form.text_field :latitude %>
  </div>
  <div>
    <%= form.label :longitude, style: "display: block" %>
    <%= form.text_field :longitude %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
