<p style="color: green"><%= notice %></p>
<%= render @job %>
<div>
  <% if @job.user == current_user %>
    <%= link_to "Edit this job", edit_job_path(@job) %>
    <div class="mt-3">
      <%= button_to "Destroy this job", @job, method: :delete %>
    </div>
  <% end %>
  <%= link_to "Back to jobs", jobs_path %>
</div>
